//@import "../../node_modules/nib/lib/nib"
@import "variable"

.mb-anim-view
  display none
  position absolute
  top 0
  left 0
  width 100%

.mb-anim-view-active  
  display block !important
  
  
@import "component/*"  
   
