//@import "../../node_modules/nib/lib/nib"

.mb-anim-view
  display none
  position absolute
  top 0
  left 0
  width 100%

.mb-anim-view-active  
  display block !important

/* ==================    
 * Slide
 * ================== */
@import "component/slide"  
   
/* ==================
 * Fade
 * ================== */
@import "component/fade"

/* ==================
 * Flip
 * ================== */
@import "component/flip"
  