.mb-anim-view {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.mb-anim-view-active {
  display: block !important;
}
.mb-cover {
  animation-fill-mode: both;
}
.mb-cover.in {
  animation: 350ms coverInFromRight ease;
  z-index: 10;
}
.mb-cover.in.reverse {
  animation: 350ms coverInFromLeft ease;
}
.mb-cover.out {
  animation: 350ms;
  z-index: 1;
}
@-moz-keyframes coverInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes coverInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes coverInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes coverInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes coverInFromLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes coverInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes coverInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes coverInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes coverInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes coverInFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
.mb-fade.out {
  animation-name: fadeout;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
.mb-fade.in {
  animation-name: fadein;
  animation-duration: 800ms;
  animation-delay: 500ms;
  animation-fill-mode: both;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.mb-flip-container {
  perspective: 1000px;
  position: absolute;
}
.mb-flip {
  backface-visibility: hidden;
  transform: translateX(0);
  animation-duration: 500ms;
}
.mb-flip.out {
  transform: rotateY(-180deg);
  animation-name: flipouttoleft;
}
.mb-flip.in {
  animation-name: flipintoright;
}
.mb-flip.out.reverse {
  transform: rotateY(180deg);
  animation-name: flipouttoright;
}
.mb-flip.in.reverse {
  animation-name: flipintoleft;
}
@-moz-keyframes flipouttoleft {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@-webkit-keyframes flipouttoleft {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@-o-keyframes flipouttoleft {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@-ms-keyframes flipouttoleft {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@keyframes flipouttoleft {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@-moz-keyframes flipouttoright {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes flipouttoright {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@-o-keyframes flipouttoright {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@-ms-keyframes flipouttoright {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@keyframes flipouttoright {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}
@-moz-keyframes flipintoleft {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoleft {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-o-keyframes flipintoleft {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-ms-keyframes flipintoleft {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@keyframes flipintoleft {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-moz-keyframes flipintoright {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoright {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-o-keyframes flipintoright {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@-ms-keyframes flipintoright {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
@keyframes flipintoright {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
  }
}
.mb-scaleY.in {
  animation: 350ms scaleYIn 350ms;
}
.mb-scaleY.in.reverse {
  animation: 350ms scaleYOut;
}
.mb-scaleY.out {
  animation: 350ms scaleYOut;
}
.mb-scaleY.out.reverse {
  animation: 350ms scaleYIn 350ms;
}
@-moz-keyframes scaleYIn {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes scaleYIn {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes scaleYIn {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-ms-keyframes scaleYIn {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@keyframes scaleYIn {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes scaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
@-webkit-keyframes scaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
@-o-keyframes scaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
@-ms-keyframes scaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
@keyframes scaleYOut {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
.mb-slide {
  animation-timing-function: ease;
  animation-duration: 350ms;
  animation-fill-mode: both;
}
.mb-slide.out {
  animation-name: slideouttoleft;
}
.mb-slide.out.reverse {
  animation-name: slideouttoright;
}
.mb-slide.in {
  animation-name: slideinfromright;
}
.mb-slide.in.reverse {
  animation-name: slideinfromleft;
}
@-moz-keyframes slideinfromright {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideinfromright {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideinfromright {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slideinfromright {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromright {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideinfromleft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideinfromleft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideinfromleft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slideinfromleft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromleft {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideouttoleft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes slideouttoleft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes slideouttoleft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-ms-keyframes slideouttoleft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideouttoleft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes slideouttoright {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes slideouttoright {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@-o-keyframes slideouttoright {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@-ms-keyframes slideouttoright {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideouttoright {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
