//-- slide
slide-duration = 350ms

//-- flip
flip-duration = 500ms

//-- fade
fade-in-duration = 800ms
fade-out-duration = 800ms
fade-in-delay = 500ms

//-- cover
cover-duration = 350ms

//-- scale
scale-duration = 350ms